@import "base/variables";
* {
  font-family: "Museo Sans", sans-serif
}
.container {
  position: relative;
  width: 930px;
  margin: 0 auto;
}
@import "base/mixins";
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advant';
@import 'blocks/main_header';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';

@import "base/media";