@media (max-width: 1200px) {
  .carousel{
    .prev {
      left: -15px;
    }
    .next {
      right: -15px;
    }
  }
}


@media (max-width: 991px) {
  .container {
    width: 736px;
  }
  .advant {
    &__card {
     width: 210px;
    }
  }
  .promo {
    background-position: 30%;
  }
  .prev, .next {
    display: none;
  }
  .review{
    &__block {
      &:before {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}

@media (max-width: 766px) {
  .container {
    width: 556px;
  }
  .header {
    &__logo {
      width: 220px;
      }
    &__official {
      font-size: 8px;
      span {
        font-size: 12px;
      }
    }
    &__phone {
      font-size: 15px;
    }
  }
  .button {
    width: 130px;
    height: 25px;
    font-size: 10px;
    &_main {
      width: 150px;
      height: 30px;
    }
    &_submit {
      width: 100%;
      height: 55px;
      font-size: 16px;
    }
  }
  .promo {
    min-height: 0;
    padding-bottom: 55px;
    background-position: 30%;
    &__wrapper {
      margin-top: 65px;
    }
    &__header {
    font-size: 38px;
    }
    &__subheader {
      font-size: 19px;
    }
  }
  .advant {
    padding: 55px 0 60px;
    &__subheader {
      height: 52px;
    }
    &__card {
      width: 150px;
    }
  }
  .review{
    &__block {
      padding-left: 0;
      padding-top: 230px;
      &:before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__header {
      text-align: center;
    }
    &__subheader {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .container {
    width: 300px;
  }
  .header{
    &__logo {
      width: 130px;
    }
    &__phone {
      font-size: 12px;
    }
    &__official {
      display: none;
    }
  }
  .promo {
    &__header {
      font-size: 24px;
    }
    &__subheader {
      font-size: 17px;
      width: 191px;
    }
    &__icons {
      width: 290px;
    }
    &__icon {
      font-size: 12px;
      width: 60px;
      img {
        width: 40px;
      }
    }
  }
  .button {
    width: 115px;
    height: 20px;
    font-size: 9px;
    &_main {
      width: 150px;
      height: 30px;
    }
    &_submit {
      width: 292px;
      height: 55px;
      font-size: 18px;
    }
  }
  .main-header {
    font-size: 22px;
  }
  .advant {
    &__wrapper {
      display: block;
      margin-top: 35px;
    }
    &__card {
      width: 280px;
      margin: 40px auto 0;
    }
    &__subheader {
      height: 20px;
      margin-top: 20px;
    }
    &__text {
      margin-top: 15px;
    }
  }
  .consultation {
    padding: 55px 0 60px;
    &__descr {
      margin-top: 60px;
      font-size: 18px;
    }
  }
  .feed-form {
    input {
      width: 292px;
    }
  }
  .catalog {
    &__tab {
      font-size: 10px;
      height: 40px;
      line-height: 38px;
    }
  }
}