.advant {
  min-height: 470px;
  padding: 70px 0 80px;
  background-color: #f6f6f6;
  &__wrapper {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    width: 248px;
  }
  &__icon {
    display: block;
    margin: 0 auto;
  }
  &__subheader {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    a {
      color: $main-color;
      text-transform: uppercase;
      text-decoration: underline;
      &:hover {
        color: $main-color;
      }
    }
  }
  &__icon {
    &_animated {
      animation: heartbeat 1.4s ease-out infinite;
      &:hover {
        animation: paused;
      }
    }
  }
}